@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}

label{
  margin-top: 20px;
}
.error_msg{
  border: 1px solid #FFBABA;
  border-radius: 3 ;
  
  color: #e0d1d2;
	background-color: #094643;
  visibility : hidden
}
.error_msg_show{
  margin: 5px 0px;
  padding: 5px;
  padding: 5px;
  visibility : visible !important
}

#container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    
    align-items: center;
   
}
input{
    margin-bottom: 10px;
}

body{
background-color: #045555;
color: white;
}
.button:hover{
    color: wheat;
}
.registerbtn {
    
    
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 27%;
    opacity: 0.9;
    border-radius: 4px;
    

  }


  input[type=text], input[type=password],input[type=tel] {
    width: 25%;
    padding: 15px;
    margin: 10px 0 0px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
  }
  .registerbtn:hover {
    opacity: 3;
    background-color: #22a877;
    color: #f1f1f1;
  }

  input[type="text"] :hover{
    border: 1px solid rgb(163, 110, 110);
    border-radius: 5px;
    }
   
    input[type="password"] :hover{
    border: 1px solid rgb(163, 110, 110);
    border-radius: 5px;
    }
    
    input[type="tel"] :hover{
    border: 1px solid rgb(163, 110, 110);
    border-radius: 5px;
    }
    